img {
  height: auto;
  width: 100%;
  object-fit: cover;
  align-self: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Notable", sans-serif;
  color: #3a4454;
  font-size: 3rem;
  margin-top: 0.5rem;
}
h2 {
  font-family: "Inknut Antiqua", serif;
  color: #c24848;
  font-size: 1.8rem;
  margin-top: 1rem;
}

h3 {
  font-family: "Glory", sans-serif;
  font-style: italic;
  font-weight: 800;
  color: #c24848;
  font-size: 1.4rem;
  margin-top: 1rem;
}

p {
  font-family: "Glory", sans-serif;
  font-weight: 400;
  color: #3a4454;
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}

body {
  background-color: #fee394;
}

main {
  max-width: 1200px;
  padding-left: 8rem;
  padding-right: 8rem;
  margin: auto;
  margin-bottom: 20px;
}

footer {
  display: block;
  background-color: #d1bb7c;
  height: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 850px) {
  main {
    max-width: 1200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
    margin-bottom: 20px;
  }
}
