img {
  height: auto;
  width: 100%;
  object-fit: cover;
  align-self: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Notable", sans-serif;
  color: #3a4454;
  font-size: 3rem;
  margin-top: 0.5rem;
}
h2 {
  font-family: "Inknut Antiqua", serif;
  color: #c24848;
  font-size: 1.8rem;
  margin-top: 1rem;
}

h3 {
  font-family: "Glory", sans-serif;
  font-weight: 800;
  color: #c24848;
  font-size: 1.4rem;
  margin-top: 1rem;
}

p {
  font-family: "Glory", sans-serif;
  font-weight: 400;
  color: #3a4454;
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}

body {
  background-color: #fee394;
}

main {
  max-width: 1200px;
  padding-left: 8rem;
  padding-right: 8rem;
  margin: auto;
  margin-bottom: 20px;
}

footer {
  display: block;
  background-color: #d1bb7c;
  height: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.center {
  text-align: center;
}

@media (max-width: 850px) {
  main {
    max-width: 1200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
    margin-bottom: 20px;
  }
  .mobilehide {
    display: none;
  }
}

@media (min-width: 850px) {
  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col1 {
    order: -1;
    margin: auto;
  }
  .col2 {
    margin: auto;
  }
  .col3 {
    margin: auto;
  }
}

/* KNAPPER */
a .CTA1 {
  height: auto;
  width: 40%;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #3a4454;
  color: #fee394;
  border-radius: 4px;
  font-weight: 800;
  font-family: "Glory", sans-serif;
  text-align: center;
  box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.14);
  margin: 1rem;
  border: solid #3a4454 4px;
  transition: 0.2s;
}
a .CTA1:hover {
  color: #3a4454;
  background-color: #fee394;
  box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.26) inset;
  -webkit-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.26) inset;
  -moz-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.26) inset;
  transition: 0.2s;
}

a .CTA2 {
  height: auto;
  width: 40%;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #c24848;
  color: #fee394;
  border-radius: 4px;
  font-weight: 800;
  font-family: "Glory", sans-serif;
  text-align: center;
  box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.14);
  margin: 1rem;
  border: solid #c24848 4px;
  transition: 0.2s;
}

a .CTA2:hover {
  color: #c24848;
  background-color: #fee394;
  box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.26) inset;
  -webkit-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.26) inset;
  -moz-box-shadow: -4px 2px 11px -1px rgba(0, 0, 0, 0.26) inset;
  transition: 0.2s;
}

/*Footer/ikoner, style*/
#hours,
#plads,
#call {
  position: absolute;
  left: 65%;
  width: 2%;
}
h3 {
  margin: 2rem;
}
