.box {
  width: 10%;
  aspect-ratio: 1/1;
  display: inline-block;
  background-color: #d1bb7c;
}
#catering1 {
  translate: 420% -340%;
  scale: 0.48 1.88;
}
#catering2 {
  translate: 466% -340%;
  scale: 0.88 1.88;
}
#catering3 {
  translate: 581% -340%;
  scale: 1.68 1.88;
}
a {
  text-decoration: none;
}
#menu1 {
  translate: 108% -235%;
  scale: 1.69 1.9;
}
#menu2 {
  translate: 215% -120%;
  scale: 0.75 0.57;
}
#menu3 {
  translate: 111% -229%;
  scale: 0.75 1.33;
}
@media (max-width: 800px) {
  #menu1 {
    translate: 109% -241%;
  }
}
.menu_container:hover * {
  background-color: #837651;
}
.menu {
  display: inline-block;
  background-color: #d1bb7c;
  aspect-ratio: 1/1;
  width: 10%;
}
.catering_container:hover * {
  background-color: #524c3c;
}
.catering_container {
  position: relative;
  background-color: #d1bb7c;
}
h2 {
  text-align: center;
  color: #3a4454;
}
.grid1-1 {
  text-align: center;
}
