h2 {
  text-align: center;
  color: #3a4454;
  margin-top: -0.8rem;
}

#facade_container {
  width: 100%;
  aspect-ratio: 855/353;
  position: relative;
}

#dg_facade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/frontdragongrill.webp);
  background-size: cover;
  overflow: hidden;
}
#menucontainer {
  aspect-ratio: 347/333;
  width: 43%;
  bottom: 0;
  left: 0;
  position: absolute;
}
#menuhover {
  background-image: url(../images/menuhover.webp);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

#cateringcontainer {
  aspect-ratio: 403/288;
  width: 57.73%;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

#cateringhover {
  transition: all 0.3s ease-in-out;
  background-image: url(../images/cateringhover.webp);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.grid_2fr-3fr {
  display: grid;
  grid-template-columns: 2.3fr 3fr;
  text-align: center;
}

.knapmenu,
.knapcatering {
  font-family: "Glory", sans-serif;
  font-weight: 800;
  color: #3a4454;
  font-size: 130%;
  transition: 0.2s;
}
.knapmenu:hover,
.knapcatering:hover {
  font-family: "Glory", sans-serif;
  font-weight: 800;
  color: #c24848;
  transition: 0.2s;
}
.hover {
  font-family: "Glory", sans-serif;
  font-weight: 800;
  color: #c24848;
  transition: 0.2s;
}
.img {
  padding-bottom: 1rem;
  padding-top: 2rem;
}
.grid1-1-1 {
  margin-top: 1rem;
  padding-top: 10px;
  overflow: hidden;
  gap: 5px;
}
.grid1 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  gap: 5px;
}

a .CTA1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 1px;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}
.lowmargin {
  margin-top: -1rem;
  text-align: center;
}
@media (min-width: 900px) {
  .grid3-1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
}
@media (max-width: 900px) {
  .kyl {
    order: 2;
  }
  .grid1 {
    order: 3;
  }
  .kokimg {
    order: 1;
    display: none;
  }

  .grid1-1-1 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  a .CTA1 {
    font-size: 1.1rem;
    padding: 0.1rem 0.8rem 0.1rem 0.8rem;
    display: grid;
    margin: auto;
    max-width: fit-content;
  }
  p {
    text-align: center;
  }
}
